{% load static %}

<!DOCTYPE html>
<html lang="en">

<!--HEAD-->
<head>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/logo/logo.png' %}">

    {% block background_image %}
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">


    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Lyubomir Dakov</title>
</head>


<!--BODY-->
<body>
    <style>
        body {
            background-image: url('{% static "images/background/home_page.png" %}');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center center;
        }

    </style>

<header>
    <p>{% include 'main/partials/nav.html' %}</p>
</header>

<main>
    {% block page_content %}
    {% endblock %}
</main>

<footer>
    <span>LYUBOMIR DAKOV PORTFOLIO</span>
</footer>
</body>
</html>
