{% load static %}

<!DOCTYPE html>
<html lang="en">

<!--HEAD-->
<head>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/logo/logo.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/navigation_bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block additional_links %}
    {% endblock %}

    <title>Lyubomir Dakov</title>
</head>


<body>
    <header>
        <p>{% include 'main/partials/nav.html' %}</p>
    </header>

    <main>
        {% block page_content %}
        {% endblock %}
    </main>

<!--    <footer>-->
<!--        <span>LYUBOMIR DAKOV PORTFOLIO</span>-->
<!--    </footer>-->
</body>
</html>
