{% extends 'main/index.html' %}
{% load static %}

{% block additional_links %}
    <link rel="stylesheet" href="{% static 'css/contact_page.css' %}">
{% endblock %}

{% block page_content %}

<form action="{% url 'contact' %}" method="post">
    <div>
        <p><strong>Name: <br>{{ form.name }}</strong></p>
    </div>
    <div>
        <p><strong>Organization: </strong>{{ form.organization }}</p>
    </div>
    <div>
        <p><strong>Email: </strong>{{ form.email }}</p>
    </div>
    <div>
        <p><strong>Message: </strong>{{ form.message }}</p>
    </div>
    <div>
        <button type="submit">Send</button>
    </div>
    {% csrf_token %}
</form>

{% endblock %}
