{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/logo/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/error_404_500.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Lyubomir Dakov</title>
</head>
<body>
    <div class="content-container">
        <div class="big-message">Oops!</div>
        <div class="link-message">Something went wrong...</div>
        <div class="small-message">I am working to fix the problem. Please try again later.</div>
        <div class="link-message">You could go back to <a href="https://www.lyubomir-dakov.com/">Homepage</a>
    </div>
    </div>
</body>
</html>
