body {
    background-image: url('{% static "/images/background/home_page.png" %}'); /* The URL should be the path to your image */
    background-size: cover; /* Cover ensures that the background covers the entire element */
    background-repeat: no-repeat; /* This will prevent the image from repeating */
    background-attachment: fixed; /* This will give a fixed position relative to the viewport */
    background-position: center center; /* This will center the image in the element */
}

/* Navigation bar */
.navbar {
    border: 2px solid rgba(255,255,255,.25);
    border-color: #0074e8;
    background-color: #07083a;
    height: 80px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 80px;
    padding: 0.5rem;
}


/* Lyubomir Dakov */
.navbar-brand {
    font-weight: 500;
    color: white;
    font-size: 30px;
}

.navbar-brand:hover {
    color: white !important;
}



/* Home, About, Experience, Projects anchors */
.nav-link {
    color: white;
    font-weight: 500;
    position: relative;
    transition: all .3s;

    span {
    transition: all .5s;
    font-size: 18px;

  }
  span:nth-child(2) {
    transition-delay: .1s;
  }
  span:nth-child(3) {
    transition-delay: .2s;
  }
  span:nth-child(4) {
    transition-delay: .3s;
  }
  span:nth-child(5) {
    transition-delay: .4s;
  }
  span:nth-child(6) {
    transition-delay: .5s;
  }
  span:nth-child(7) {
    transition-delay: .6s;
  }
  span:nth-child(8) {
    transition-delay: .7s;
  }
  span:nth-child(9) {
    transition-delay: .8s;
  }
  span:nth-child(10) {
    transition-delay: .9s;
  }
  &:hover {
    span {
      font-weight: 700;
    }
    span:nth-child(10) {
      transition-delay: .9s;
    }
    span:nth-child(9){
      transition-delay: .8s;
    }
    span:nth-child(8){
      transition-delay: .7s;
    }
    span:nth-child(7){
      transition-delay: .6s;
    }
    span:nth-child(6){
      transition-delay: .5s;
    }
    span:nth-child(5){
      transition-delay: .4s;
    }
    span:nth-child(4){
      transition-delay: .3s;
    }
    span:nth-child(3){
      transition-delay: .2s;
    }
    span:nth-child(2){
      transition-delay: .1s;
    }
    span:nth-child(1){
      transition-delay: 0s;
    }
  }
}

.nav-link:hover {
    color: #0074e8;
}

/* Contact me button */
.contact-me {
    border: 2px solid rgba(255,255,255,.25);
    border-color: #0074e8;
    background-color: #300852;
    color: #fff;
    height: 60px;
    padding: 8px 40px;
    border-radius: 60px;
    text-decoration: none;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: 8px;
    bottom: 8px;
    right: 8px;
    font-weight: 500;
    font-size: 18px;

    span {
    font-weight: 500;
    transition: all .5s;
    font-size: 18px;

  }
  span:nth-child(2){
    transition-delay: .1s;
  }
  span:nth-child(3){
    transition-delay: .2s;
  }
  span:nth-child(4){
    transition-delay: .3s;
  }
  span:nth-child(5){
    transition-delay: .4s;
  }
  span:nth-child(6){
    transition-delay: .5s;
  }
  span:nth-child(7){
    transition-delay: .6s;
  }
  span:nth-child(8){
    transition-delay: .7s;
  }
  span:nth-child(9){
    transition-delay: .8s;
  }
  span:nth-child(10){
    transition-delay: .9s;
  }
  &:hover {
    span {
      font-weight: 700;
    }
    span:nth-child(10){
      transition-delay: .9s;
    }
    span:nth-child(9){
      transition-delay: .8s;
    }
    span:nth-child(8){
      transition-delay: .7s;
    }
    span:nth-child(7){
      transition-delay: .6s;
    }
    span:nth-child(6){
      transition-delay: .5s;
    }
    span:nth-child(5){
      transition-delay: .4s;
    }
    span:nth-child(4){
      transition-delay: .3s;
    }
    span:nth-child(3){
      transition-delay: .2s;
    }
    span:nth-child(2){
      transition-delay: .1s;
    }
    span:nth-child(1){
      transition-delay: 0s;
    }
  }

  &.contact-me {
    &:hover{
      $color: #ddd;
    //color: darkmagenta;

    }
  }
}

.contact-me:hover {
    box-shadow: 0 0 12px #ffffff;
    background-color: #300852;
    color: #0074e8;
}

.navbar-nav {
    display: flex;
    /* Centers the items horizontally */
    align-items: center; /* Centers the items vertically */
    list-style-type: none; /* Removes the bullet points */
    padding: 0; /* Removes the default padding */
    margin: 0 auto; /* Centers the list and removes default margin */
}

.nav-item {
    display: flex; /* Flex display to center the anchor */
    justify-content: left; /* Centers the anchor horizontally */
    align-items: center; /* Centers the anchor vertically */
    margin: 0 10px; /* Space between navigation items */
}

.navbar-nav li:nth-child(1) {
    width: 65px;
}

.navbar-nav li:nth-child(2) {
    width: 70px;
}

.navbar-nav li:nth-child(3) {
    width: 110px;
}

.navbar-nav li:nth-child(4) {
    width: 200px;
}
