{% extends 'main/index.html' %}
{% load static %}

{% block additional_links %}
<link rel="stylesheet" href="{% static 'css/about_page.css' %}">
{% endblock %}


{% block page_content %}
<div class="about-page-content">
    <div class="title">
        <h1>About me</h1>
    </div>
    <div class="about-content">
        <p>{{ content.about|safe }}</p>
    </div>
    <div class="about-technologies">
        <h3>Some technologies I've worked with:</h3>
        <div class="list-technologies">
            {% for technology in content.technologies.all %}
                <span>{{ technology.logo_svg|safe }}</span>
            {% endfor %}
        </div>
    </div>

</div>


{% endblock %}