{% extends 'main/index.html' %}
{% load static %}

{% block background_image %}
<style>
        body {
            background-image: url('{% static "images/background/home_page.png" %}');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center center;
        }

</style>

{% endblock %}

{% block page_content %}
<h1>{{ content.profession }}</h1>
<h1>{{ content.first_name }} {{ content.last_name }}</h1>
<p>{{ content.introduction }}</p>
<p>{{ content.phone_number }}</p>
<p>{{ content.email }}</p>
<p>{{ content.github_link }}</p>
<p>{{ content.linkedin_link }}</p>
<p>{{ content.cv }}</p>




<div class="social-icons">
  <ul>
    <li>
      <a href="https://github.com/Lyubomir-Dakov">
        <i class="fab fa-github icon"></i>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/lyubomir-dakov-10887112b/">
        <i class="fab fa-linkedin-in icon"></i>
      </a>
    </li>
  </ul>
</div>


{% endblock %}



