{% extends 'main/index.html' %}
{% load static %}

{% block additional_links %}
<link rel="stylesheet" href="{% static 'css/experience_page.css' %}">
{% endblock %}

{% block page_content %}

<div class="experience-page-content">
    <div class="left-content">
        <div class="navigation-content">
            <h3 class="content-title" onclick="toggleVisibility('education-list')">Education</h3>
            <div class="experience-objects">
                <ul id="education-list" class="ul-objects">
                    {% for education in educations %}
                    <li class="li-object" onclick="loadContent('education', {{ education.id }})">{{ education.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="navigation-content">
            <h3 class="content-title" onclick="toggleVisibility('work-list')">Work</h3>
            <div class="experience-objects">
                <ul id="work-list" class="ul-objects">
                    {% for work in works %}
                    <li class="li-object" onclick="loadContent('work', {{ work.id }})">{{ work.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="right-content">
        <div class="experience-block-content">
            {% block experience_content %}
            {% endblock %}
        </div>
    </div>
</div>

<script src="{% static 'js/experience-page.js' %}"></script>


{% endblock %}