{% extends 'experience/experience.html' %}
{% load static %}


{% block experience_content %}
<div class="right-content-middle">
    <div class="right-content-left">
        <div class="logo-name">
            <div class="object-logo">{{ object.logo_svg|safe }}</div>
            <div class="object-name">{{ object.name }}</div>
        </div>
        <div class="object-speciality">{{ object.speciality }}</div>
        <div class="location-period">
            <div class="object-location">{{ object.location }}</div>
            <div class="object-period">{{ object.start_date|date:"M d Y" }} - {{ object.end_date|date:"M d Y" }}</div>
        </div>
        {% if object.skills %}
        <div class="object-skill">
            <h4>Skills</h4>
            {% for skill in object.skills.all %}
            <div>{{ skill.name }}</div>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="right-content-right">
        {% if object.diploma %}
        <div class="object-diploma">
            <h4>Diploma</h4>
            <div class="education-document">
                <a href="{{ object.diploma.link }}">{{ object.diploma.name }}</a>
            </div>
        </div>
        {% endif %}

        {% if object.certificates.all %}
        <div class="object-certificates">
            <h4>Certificates</h4>
            {% for certificate in object.certificates.all %}
            <div class="education-document">
                <a href="{{ certificate.link }}">{{ certificate.name }}</a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% if object.technologies.all %}
<div class="right-content-bottom">
    <div class="object-technology">

        <div class="list-technologies">
            {% for technology in object.technologies.all %}
            <span>{{ technology.logo_svg|safe }}</span>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}


{% endblock %}